*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
::selection{
    background: #9999ee;
}
body{
    height: 100vh;
    background: #9999ee;
}
::-webkit-scrollbar{
    display: none;
}
/* ========== GALLERY =========== */
.gallery{
    position: relative;
    width: 100%;
    height: 80%;
    background: #000000cc;
    color: #fff;
    transition: .5s ease;
}
.control{
    font-size: 35px;
    color: #ffffffcc;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.gallery .prev{
    left: 20px;
}
.gallery .next{
    right: 20px;
}
.gallery-inner{
    width: 70%;
    height: 100%;
    margin: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin: 10px;
    cursor: pointer;
}

.image img, .gallery-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hide{
    display: none;
}
.border{
    border: 3px solid red;
    background: #fff;
    padding: 2px;
}